.admin-search-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.admin-search-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-item-detail-container {
  flex: 8;
  margin-right: 10px;
}

.search-item-delete-button-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.search-item-delete-button-wrapper {
  flex: 1;
}
.admin-delete-button {
  border: 1px solid #333333;
  background-color: #333333;
  border-radius: 3px;
  color: #ffffff;
  height: 30px;
  font-size: 00.8em;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
}

.admin-functional-button:disabled {
  flex: 1;
  border: 1px solid #aaaaaa;
  background-color: #aaaaaa;
  border-radius: 3px;
  color: #ffffff;
  height: 30px;
  font-size: 00.8em;
  font-weight: bold;
  margin-right: 15px;
}

.admin-functional-button {
  flex: 1;
  border: 1px solid #333333;
  background-color: #333333;
  border-radius: 3px;
  color: #ffffff;
  height: 30px;
  font-size: 00.8em;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid #333333;
  background-color: #333333;
  color: #ffffff;
}