.create-event-form {
  height: 100%;
  width: 100%;
}
.create-event-form div {
  margin: 23px 9px;
}

.create-event-title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 33px;
  padding-left: 22px;
}
.create-event-sb-btn {
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 22px;
  font-size: 00.8em;
  font-weight: bold;
  cursor: pointer;
}
.create-event-textfield {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.create-event-prefieldLink {
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 7px;
  font-size: 0.7em;
  flex: 8;
}

.create-event-container {
  height: 100%;
  width: 100%;
}

.create-event-form-container {
  padding: 1px 20px 20px 20px;
  background-color: white;
}

.create-event-new-event-container {
  margin: auto;
  padding: 20px;
  background-color: white;
}

#new-event-items {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  padding-bottom: 5px;
  display: flex;
}

#share-button {
  margin: auto;
  width: auto;
}

.create-event-info-border {
  padding: 10px;
}

.create-event-sb-text {
  font-size: 0.7em;
  margin-top: 20px;
}
.create-event-sb-text a {
  text-decoration: none;
}
