.message-box-success {
  padding: 5px;
  background-color: #aedfaa;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.message-box-failure {
  padding: 5px;
  background-color: #f6d1cc;
  border-color: #d42a2b;
  border-style: solid;
  border-width: 2px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.message-box-waiting {
  padding: 5px;
  background-color: #f6f2cc;
  border-color: #d1a40fbe;
  border-style: solid;
  border-width: 2px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.close-button-success {
  width: 30px;
  background-color: transparent;
  border: transparent;
  color: green;
}
.close-button-failure {
  width: 30px;
  background-color: transparent;
  border: transparent;
  color: #d42a2b;
}
.close-button-waiting {
  width: 30px;
  background-color: transparent;
  border: transparent;
  color: #d1a40fbe;
}
.message-text-success {
  color: green;
}
.message-text-failure {
  color: #d42a2b;
}
.message-text-waiting {
  color: #d1a40fbe;
}
