.register-form {
  width: 90%;
  margin: 10px auto;
}
.register-form-desktop {
  width: 450px;
  margin: 50px auto;
}

.form {
  height: 100%;
  width: 100%;
}
.form div {
  margin: 23px 9px;
}
.title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 33px;
  padding-left: 22px;
}
.sb-btn {
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 22px;
  font-size: 00.8em;
  font-weight: bold;
  cursor: pointer;
}
input {
  border-style: none none solid none;
  border-width: 0px;
  font-size: 0.9em;
}
textarea {
  border-style: none none solid none;
  border-width: 1px;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  font-size: 0.9em;
  resize: none;
}
input:focus {
  outline: none;
}
.note {
  display: block;
  font-size: 0.7em;
}
.sb-text {
  font-size: 0.7em;
  margin-top: 20px;
}
.sb-text a {
  text-decoration: none;
}
label {
  display: block;
}
.required-field {
  display: none;
  font-size: 0.7em;
}
.hidden {
  display: none;
}
.form span.required {
  display: block;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.modal-content {
  position: absolute;
  width: 414px;
  height: 490px;
  margin: 0 auto;
  left: 25%;
  right: 25%;
  top: 11%;
  bottom: 25%;
}
.modal button {
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 10%;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}
.modal-title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 33px;
  padding-left: 22px;
  margin-bottom: 40px;
}
.modal-label {
  margin-bottom: 20px;
  margin-left: 10%;
}
.modal-label div {
  display: inline-block;
  padding-bottom: 3px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}
.textfield {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  height: 47px;
  width: 100%;
  border-radius: 3px;
}
.prefieldLink {
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 7px;
  font-size: 0.7em;
  flex: 8;
}

#socialTextField {
  flex: 17;
}

#textFieldOnTheLeft {
  float: left;
}

.textfield-button {
  float: left;
  background-color: black;
  width: 37px;
}

.enter-event-embedded-button {
  height: auto;
  width: 100%;
}

.k-text-field {
  width: 100%;
  height: 40px;
}

.back-button-container {
  padding: 10px 0px;
}

.back-button {
  display: flex;
  flex-direction: row;
  height: 28px;
  line-height: 28px;
}
.back-button-icon {
  padding-right: 6px;
  font-weight: bold;
  font-size: 26px;
  font-family: "Futura";
}
.back-button-text {
  font-size: 17px;
  font-family: Arial;
}

.register-details-header,
.register-details-subheader {
  color: white;
  padding-left: 35px;
  padding-right: 35px;
}

.register-details-header {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
